*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
:root{
    --light: #fff
    --dark: #1a1e24;
}
a{
    text-decoration: none;
    color: var(--light);
    font-family: Libre Franklin;
    letter-spacing: 2px;
}
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;


    }
    .container-home{
        display: grid;
        grid-template-rows: 100%;
        grid-template-columns: 20% 60% 20%;
        width: 90%;
        height: 85px;
        
    }
    .logo{
        height:50%;
    }
    .home{

        height: 100%;
        width: 100%;
        gap: 4px;
    }
    .projeto{

        height: 100%;
        width: 100%;
    }






    .container-footer{
        display: grid;
        width: 90%;
        grid-template-rows: 80px 80px 80px 80px 120px;
        grid-template-columns: 100%;
        
    }
    .container-footer-redes{
        display: flex;
        justify-content: center;
        align-items: center;


    }
    .logo-redes{
        height: 4rem;
        border-radius: 33%;
    }


    .bem-vindo {
        position: relative;  
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80vh;
        width: 100vw;
        overflow: hidden; 
    }
    
    
    .bem-vindo img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1; 
    }
    
    
    .letreiro1, .letreiro2 {
        position: absolute; 
        z-index: 2; 
        color: var(--light);
        font-size: 5rem;
        white-space: nowrap;
        letter-spacing: 2px;
        font-weight: bolder;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
        text-align: center;
    }
    
    
    .letreiro1 {
        top: 0%;
        animation: 20s letreiroDeslizando linear infinite;
    }
    
    
    .letreiro2 {
        top: 40%;
        animation: 35s letreiro2Deslizando linear infinite;
    }
    .containerServicosgrid{
        color: var(--light);
        width: 90%;
        height: 85vh;
        padding-top: 5rem;
        padding-bottom: 5rem;
        display: grid;
        grid-template-columns: 20% 80%;
        grid-template-rows: 100%;
    }
    .secao-conteudo{
        display: grid;
        gap: 8%;
        grid-template-columns: 100%;
        grid-template-rows: 20% 70%;
        
    }
    .div-conteudo{
        display: grid;
        margin-top: 5%;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: 80%;
        gap: 2%;
    }
    .info{
        display: flex;
        flex-flow: column;
        text-align: center;
        padding-left: 1rem;
        padding-right: 1rem;
        
    }
    .titulo{
        font-size: 1.2rem;
        font-family: Cocogoose-Bold;
    }
    .paragrafo{
        font-family: Cocogoose-Thin;
    }
    .svg-pqn{
        width: 35%;
    }
    .container-projetos{
        display: flex;
        flex-flow: row;
        height: 400px;
        width: 100%;
        
    }
    .projeto-info{
        font-family: "Lekton";
        height: 100%;
        width: 50%;
        color: var(--light);
        padding-left: 2rem;
        padding-right: 2rem;
    
    }
    .projeto-img{
        height: 100%;
        width: 50%;
    }
    .titulo-projeto{
        font-size: 2rem;
    }
    .containerOEF {
        position: relative;
        height: 70vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: var(--light);
        overflow: hidden;
    }
    
    .fundo-chamada {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 0;
        opacity: 0.5; 
    }
    
    .chamada {
        position: relative;
        z-index: 1;
        text-align: center;
        padding: 20px;
        background: rgba(0, 0, 0, 0.5); 
        border-radius: 8px;
    }
    
    .chamada-texto {
        font-size: 2rem;
        font-family: "lekton-bold";
        color: var(--light);
        margin-bottom: 1rem;
    }
    
    .chamada-btn {
        display: inline-block;
        height: 12vh;
        width: 20vw;
        
    }
    .btn-chamada{
        height: 100%;
        color: #1a1e24;
        width: 90%;
        letter-spacing: 1px;
        text-decoration: none;
        font-weight: bold;
        text-transform: uppercase;
        background: #23cd68;
        transition: background 0.3s ease-in-out;
        border-radius: 5%;
        border: var(--light) solid;
    }

    
    .btn-chamada:hover {
        background-color: #0f3b21;
        color: var(--light);
    }
    

    
      


    /* classes utilitarias */
    .centro{
        display: flex;
        justify-content: center;
    }
    .corPreta{
        background-color: #161a20;
    }
    .secao-texto{
        font-size: 2rem;
    }
    .corPreta2{
        background-color: #171b21;
    }
    .corPreta3{
        background-color: var(--light);
    
    }
    .alinhar{
        display: flex;
        align-items: center;
    }

    .borda{
        border: 1px solid #ffffff1a;
        
    }
    
    .inline{
        display: inline;
    }
    /* fontes */

    .libreFranklin{
        font-family: "Libre Franklin", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
    }
    .lekton-regular {
        font-family: "Lekton", monospace;
        font-weight: 400;
        font-style: normal;
      }
      
    .lekton-bold {
        font-family: "Lekton", monospace;
        font-weight: 700;
     
        font-style: normal;
    }
      
    .lekton-regular-italic {
        font-family: "Lekton", monospace;
        font-weight: 400;
        font-style: italic;
    }
    /* animações */
    @keyframes letreiroDeslizando{
        0%{
            transform: translateX(-1100px);
        }
        100%{
            transform: translateX(-2100px);
        }
    }
    @keyframes letreiro2Deslizando{
        0%{
            transform: translateX(-1500px);
        }
        100%{
            transform: translateX(-100px);
        }
    }
    @font-face {
        font-family: 'Altone';
        src: url('../fonts/Altone Trial-BoldOblique.ttf');
    }
    @font-face {
        font-family: 'Cocogoose-Bold';
        src: url('../fonts/Cocogoose-Pro-Bold-trial.ttf');
    }
    @font-face {
        font-family: 'Cocogoose-Thin';
        src: url('../fonts/Cocogoose-Pro-Light-trial.ttf');
    }