{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="container bem-vindo">
        <h3 class="letreiro1 lekton-regular-italic">
            Web Development & Design & Web Development & Design & Web Development & Design & Web Development & Design & Web Development & Design & Web Development & Design
        </h3>
        <h3 class="letreiro2 lekton-regular-italic">
            & Criação & Manutenção & Criação & Manutenção & Criação & Manutenção & Criação & Manutenção & Criação & Manutenção & Criação & Manutenção & Criação & Manutenção & Criação & Manutenção & Criação & Manutenção & Criação & Manutenção & Criação & Manutenção & Criação & Manutenção & Criação & Manutenção& Criação & Manutenção& Criação & Manutenção& Criação & Manutenção
        </h3>
    </div>
{% endblock %}