{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="container bem-vindo">
        <img src="{% static 'Projetos/img/bemvindo.jpg' %}" alt="Imagem hero" class="hero-image">
        <h3 class="letreiro1 Altone">
            Web Development & Design & Web Development & Design & Web Development & Design & Web Development & Design & Web Development & Design & Web Development & Design
        </h3>
        <h3 class="letreiro2 Altone">
            & Criação & Manutenção & Criação & Manutenção & Criação & Manutenção & Criação & Manutenção & Criação & Manutenção & Criação & Manutenção & Criação & Manutenção & Criação & Manutenção & Criação & Manutenção & Criação & Manutenção & Criação & Manutenção & Criação & Manutenção & Criação & Manutenção& Criação & Manutenção& Criação & Manutenção& Criação & Manutenção
        </h3>
    </div>
    <div class="container corPreta3">
        <div class="containerServicosgrid">
            <div class="secao lekton-thin">
                Serviços
            </div>
            <div class="secao-conteudo">
                <div class="conteudo-texto lekton-bold">
                    <p class="secao-texto">Sites para seus negocios, obras organizadas e feitas com cuidado</p>
                </div>
                <div class="div-conteudo">
                    <div class="info borda alinhar">
                        <h5 class="titulo">Marketing</h5>
                        <div class="svg-pqn"><img src="{% static 'Projetos/img/porquinho.svg'%}"  alt=""></div>
                        <h5 class="paragrafo">Seu negócio merece mais visibilidade. Vamos fazer isso acontecer!</h5>
                    </div>
                    <div class="info borda alinhar">
                        <h5 class="titulo">Criação</h5>
                        <div class="svg-pqn"><img src="{% static 'Projetos/img/lampada.svg' %}"  alt=""></div>
                        <h5 class="paragrafo">Do conceito à tela: criamos sites que encantam e convertem!</h5>
                    </div>
                    <div class="info borda alinhar">
                        <h5 class="titulo">Manutenção</h5>
                        <div class="svg-pqn"><img src="{% static 'Projetos/img/rosca.svg' %}"  alt=""></div>
                        <h5 class="paragrafo">Sem complicação: seu site sempre no ar e atualizado!</h5>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="container corPreta3">
        <div class="container-projetos">
            <div class="projeto-info borda">
                <h5 class="titulo-projeto">
                    Quentinhas da Delicia da Silvania
                </h5>
                <span>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime corrupti explicabo praesentium ipsa cupiditate odit quae eligendi, recusandae quasi alias facere. Aperiam nemo consequuntur laborum iusto numquam vel commodi vitae.
                </span>
            </div>
            <div class="projeto-img borda">
                <img src="" alt="Projeto Video imagem e etc">
            </div>
            
        </div>
    </div>
    <div class="container corPreta3">
        <div class="containerOEF">
            <img src="{% static 'Projetos/img/fundo-chamada.jpg' %}" class="fundo-chamada" alt="">
            <div class="chamada">
                <div class="chamada-texto">
                    Precisa de um site profissional para sua empresa ou serviço? Fale agora com um freelancer de verdade e dê o próximo passo no seu negócio. 
                </div>
                <div class="chamada-btn">
                    <button class="btn-chamada"><img src="img/whatsapp.svg" alt="">Whatsapp</button>
                </div>
            </div>  
        </div>
    </div>
{% endblock %}